*{
    margin: 0;
    padding: 0;
    font-family: 'Chicago', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: antiquewhite;
}

header{
    background-color: white;
}

header ul{
    float: right;
    list-style: none;
    font-size: 30px;
}

header ul li {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;
}

header ul li a {
  background-image: linear-gradient(
    to right,

    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}


header ul li a:before{
  content: '';
  background: linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

header ul li a:hover {
 background-position: 0;
}

header ul li a:hover::before{
  width: 100%;
}



main{
    flex-grow: 1;
}

footer{
    background-color: aquamarine;
    text-align: right;
}
