/* index.css */

/* Center container */
.center-container {
  position: relative; /* Set relative positioning for the center container */
  min-height: 80vh; /* Set a smaller minimum height for the center container */
}

/* Content wrapper */
.content-wrapper {
  display: flex;
  justify-content: space-between; /* Add space between sidebar and about me section */
  align-items: flex-start;
  width: 100%; /* Set width to fill entire space */
}

/* Sidebar */
.sidebar {
  width: 30%; /* Set the width of the sidebar */
  padding-top:1%;
  padding-inline: 1%;
  background-color: #f4f4f4;
}

.profile {
  text-align: justify;
  padding-left: 28%;
}

.profile img {
  width: 150px; /* Set the width of the image */
  height: 150px; /* Set the height of the image */
  border-radius: 50%;
  margin: 0 auto 20px; /* Center horizontally and add margin from bottom */
}

.profile .name {
  font-weight: bold;
  font-size: 30px; /* Increase the font size of the name */
  margin-bottom: 10px; /* Increase the margin from the bottom */
}

.profile .short {
  font-size: 20px; /* Adjust font size as needed */

}

#links {

  flex-direction: column; /* Align icons in a column */
  padding-top: 30px;
  display: flex;
  list-style-type: none;
  padding-left: 28%; /* Adjust padding from the left */
  margin-top: 20px;
  margin-inline: 0 auto;
  text-align: justify;
}

#links li {
  margin-bottom: 10px;

}

#links li a {
  text-decoration: none;
  font-size: 24px;

}

.link-text {
  margin-left: 10px; /* Adjust margin between icon and text */
  font-size: 18px;
}

/* About me section */
.personal-content {
  width: calc(100% - 220px); /* Calculate width to fill remaining space */
  padding-left: 10%;
  padding-top: 3%;
  background-color: #fff;
  border: 1px solid #ccc;
}

.personal-content h1{
  font-size: 30px; /* Increase the font size of the heading */
}

.personal-content .research-interest{
  margin-top:1%;
  margin-right:5%;
  line-height:2;
}

.personal-content ul{
  padding-left: 5%;
}
