.sidebar{
    position: relative;
    left: 15vw;
    width: 11vw;
    padding: 60px 0;
	transition: all 0.5s ease;
	height: 100%;

}


.sidebar .profile{
	margin-bottom: 100px;
	text-align: left;


}

.sidebar .profile img{
	vertical-align: center;
	align-content: center;
	display: block;
	width: 150px;
	height: 150px;
    border-radius: 50%;
	margin: 0 auto;
}

.sidebar .name{
	font-size: 32px;
	text-align: left;
	line-height: 1.5em;
}

.sidebar .calli{
	padding: 1.5rem;
	text-align: center;
}

.sidebar .calli img{
	vertical-align: center;
	align-content: center;
	margin: 0 auto;
}

.sidebar .short{
	line-height:2em;
	text-align: left;
	font-size: 18px;
}



.sidebar ul{
	float: left;
	position: relative;
	bottom: 0;
	justify-content: left;
	display: flex;
    list-style: none;
    font-size: 30px;

}

.sidebar ul li{
	text-align: left;
    padding: 1px 10px;
    border-radius: 10px;

}

.sidebar ul li a{
	text-align: left;
	text-decoration: none;
}



