<!doctype html>
<html lang="en">
  <head>
    {% block head %}

    <title>{% block title %}{% endblock %} -Sedi</title>

    {% endblock %}
    <link rel= "stylesheet" type="text/css" href="../static/css/base.css"/>
    <link href="https://fonts.cdnfonts.com/css/chicago-2" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link rel= "shortcut icon" type="image/png" href="../static/images/Icon.jpg" >
  </head>
  <body>
    {% block header %}
    <header>
      <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/research">Research</a> </li>
        <li> <a href="/projects">Projects</a> </li>
        <li> <a href="/life">Life</a> </li>
        <li> <a href="/contact">Contact</a> </li>
      </ul>

    </header>
    {% endblock %}





    <main>
        {% block main %}
        {% endblock %}
    </main>



    <footer>
      {% block footer %}
          <p>Copyright &copy; 2022-<script>document.write(new Date().getFullYear().toString())</script>, Steve Wen </p>
      {% endblock %}
    </footer>


  </body>
</html>