{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
    <div class="center-container">
        <section class="content-wrapper">
            <div class="sidebar">
              <div class="profile">
                  <img src="../static/images/Steve.jpg" alt="Steve's headshot">

                  <p class="name">
                      <br>
                      Steve Wen
                  </p>

                    <p class="short">
                      <a href="https://www.mcgill.ca/" style="text-decoration: none; color:#ff0000" > @ McGill University</a>
                    </p>

                <p class="email">
                    <!--shuo [DT] wen [AT] mail [DT] mcgill [DT] ca <br> -->
                    <br>
                    steve [DT] wen [AT] mila [DT] quebec
                </p>
              </div>

              <ul id="links">
                <li><a class='fa fa-linkedin-square' style='color: #0072b1' href="https://www.linkedin.com/in/steve-wen-31863b211/" ><span class="link-text">LinkedIn</span></a></li>
                <li><a class='fa fa-github' style='color: #171515' href="https://github.com/SedimentaryRockStar"><span class="link-text">Github</span></a></li>
                <li><a class='fa fa-twitter' style='color:#1DA1F2' href="https://twitter.com/Sedi_RockStar"><span class="link-text">Twitter</span></a></li>
                <li><a class='fa fa-facebook-square' style='color:#4267B2' href="https://www.facebook.com/shuo.wen.58"><span class="link-text">Facebook</span></a></li>
              </ul>

                <br>
                <h1>Site Stats</h1>
                <br>
                <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=ffffff&w=a&t=tt&d=uLJnHC8vqCo46lE-XV0wzWKmGWXMEshp_us4A6jGZzo'></script>
                <br>
              You are No. <script style="block-size: 10px;" type="text/javascript" src="//counter.websiteout.com/js/2/8/0/1"></script> visitor. <br>


            </div>

            <div class="personal-content">
                <h1>About me</h1>

                <p style="margin-top:1%; margin-right:5%; line-height:2;"> I am a Master student in Computer Science at
                    <a href="https://www.mcgill.ca/" style="text-decoration: none" > McGill University</a>,
                    <a href="https://mila.quebec/en/" style="text-decoration: none" > MILA</a>
                    and <a href="https://www.mcgill.ca/cim/" style="text-decoration: none" > CIM</a>. I am currently supervised by
                    <a href="https://www.cim.mcgill.ca/~dudek/" style="text-decoration: none" > Prof. Gregory Dudek</a> and
                    <a href="https://rl.cs.mcgill.ca/people/doina-precup/" style="text-decoration: none" > Prof. Doina Precup</a>
                    working on the intersection of Reinforcement Learning(RL) and Robotics. <br>

                    &nbsp;&nbsp;Previously, I was an undergraduate student at McGill University (2020-2024) majoring in Honors Computer Science. During my undergraduate studies,
                    I interned at <a href="https://mila.quebec/en/" style="text-decoration: none" > MILA</a> with
                    <a href="https://rl.cs.mcgill.ca/people/doina-precup/" style="text-decoration: none" > Prof. Doina Precup</a> working on Continual RL (CRL).
                    I also worked with <a href="https://cs.mcgill.ca/~xueliu/site/intro.html" style="text-decoration: none" >Prof. Xue Liu</a> and
                    <a href="https://bigaidream.github.io/" style="text-decoration: none" >Dr. Jie Fu</a> on various topics.
                </p>
                <br>
                <br>

                <h1>Research Interests</h1>

                <div class="research-interest" >
                    Broadly speaking, I am interested in adaptive systems where agents/robots/models can continually learn to handle difficult tasks.
                    Specifically, I am driven by the following questions:

                    <ul >
                        <li>Why do SOTA RL algorithms fail in dynamic real-world applications?</li>
                        <li>How to design CRL algorithms in robotics to efficiently adapt to dynamic contexts?</li>
                        <li>How to propel RL algorithms from simulations to real-world robotics applications?</li>
                    </ul>

                    <br>

                    Outside the technical research, I am very interested in the philosophy of AI, and more general philosophy topics. They sharp your minds.<br>
                    &nbsp;&nbsp;e.g. Chinese philosophy (often mixed with cultural aspects).
                    <a href="https://m.ximalaya.com/album/14783240" style="text-decoration: none" >A good start</a> (Not Ad)<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Greek myths: <a href="https://johnstoniatexts.x10host.com/homer/Iliadallpdf.pdf" style="text-decoration: none" >Iliad (They are all Psychos)</a>, ... <br>

                    <br>
                    Fun facts: I support <a href="http://slow-science.org/" style="text-decoration: none" >slow science</a>

                </div>





            </div>
        </section>


    </div>

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}