{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
    <link rel= "stylesheet" type="text/css" href="../static/css/index.css"/>
{% endblock %}

{% block header %}
{{ super() }}

{% endblock %}

{% block main %}
    <div class="sidebar">
         <div class="profile">
            <img src="../static/images/Steve.jpg" alt="Steve's headshot" >
         </div>
         <p class="name">
             <br>
             Steve Wen
         </p>
    </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}