{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
    <div class="center-container">
        <section class="content-wrapper">
            <div class="sidebar">
              <div class="profile">
                <img src="../static/images/Steve.jpg" alt="Steve's headshot">

                <p class="name">
                  <br>
                  Steve Wen
                </p>

                <p class="short">
                  <a href="https://www.mcgill.ca/" style="text-decoration: none; color:#ff0000" > @ McGill University</a>
                </p>

                <p class="email">
                    <!--shuo [DT] wen [AT] mail [DT] mcgill [DT] ca <br> -->
                    <br>
                    steve [DT] wen [AT] mila [DT] quebec
                </p>
              </div>

              <ul id="links">
                <li><a class='fa fa-linkedin-square' style='color: #0072b1' href="https://www.linkedin.com/in/steve-wen-31863b211/" ><span class="link-text">LinkedIn</span></a></li>
                <li><a class='fa fa-github' style='color: #171515' href="https://github.com/SedimentaryRockStar"><span class="link-text">Github</span></a></li>
                <li><a class='fa fa-twitter' style='color:#1DA1F2' href="https://twitter.com/Sedi_RockStar"><span class="link-text">Twitter</span></a></li>
                <li><a class='fa fa-facebook-square' style='color:#4267B2' href="https://www.facebook.com/shuo.wen.58"><span class="link-text">Facebook</span></a></li>
              </ul>
            </div>

            <div class="about-me">
                    About me
            </div>
        </section>


    </div>

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}