<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found!</title>
    <style>
        body {
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            height: 100vh; /* Make the body take up the full viewport height */
            margin: 0; /* Remove default margin */
        }
        img {
            max-width: 100%; /* Ensure the image doesn't overflow */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
</head>
<body>
    <img src="../static/images/Page-NOT-Found.png" alt="Page Not Found">
</body>
</html>
